body {
  background-color: #000
}
.photomod {
  background-color: #fff;
  height: 800px;
  width: 605px;
  margin: center;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(167, 160, 160);
  margin: 1em 0;
  padding: 0;
}
.container {
  position: relative;
  top: 10px;
  height: 400px; 
 width: 600px; 
  /* height: '25%';
  width: '35%'; */
  overflow: hidden;
  /* margin-left:auto;  do margin adjustments here   */
}
.photogallery{
  margin:auto
}
.photo {
  background-color: #fff;
  float: left;
  position: relative;
  margin: 1px;
  /* height: 90px;
  width: 90px; */
}
.photo .text{
  position: absolute;
  background-color: #fff;
  padding: 1px 3px;
  border-radius: 10px;
  top: 5px;
  left: 5px;
  visibility: hidden;
}
.photo:hover .text {
  visibility: visible;
}
.photoheader {
  font-size: 20px;
  margin-left: 10px;
}
.viewmore {
  float: right;
  position: relative;
  top: 8px;
  right: 5px;
  color: red
}
img {
  object-fit: cover;
  cursor: pointer
}
.more {
  filter: brightness(45%);
  position:relative
}
.more:hover {
  filter: brightness(20%)
} 
.excess {
  position: absolute;
  top:200px;
  left:520px;
  color:white;
  font-size:17px;
}
/* SLIDER CSS */


.slidebinder{
  left:300px;
  position: relative;
  width: 500px; 
  height: 500px; 
  overflow: hidden;
}
.sliderbox{
  width:500px;
  position:absolute;
  background-color:rgba(48,107,111,.4) 
}
.slide{
  width:5000px ; /*need a width on all slides..somehow*/
  height:500px;
  background-color: rgba(48,107,111,.5);
  font-size:100px;
  float:left;
}
.left{
  width: 30px;
  height: 35px;
  background-color:#000;
  text-align: center;
  padding: 20px 0px 0px 0px;
  position: absolute;
  top: 200px;
  z-index: 201; /* can move things infront of things */
}
.right{
  width: 30px;
  height: 35px;
  background-color: #000;
  text-align: center;
  padding: 20px 0px 0px 0px;
  position:absolute;
  top:200px;
  right: 0px;
  z-index: 201;
}

.blackout {
  background-color:#000;
  height:100%;
  width: 100%;
  filter:brightness(20%);
}